/Knowledge and Attitude Evaluation/Answer Evaluation/Data
/Knowledge and Attitude Evaluation/Answer Evaluation/Deep Learning Approach/logs
/Knowledge and Attitude Evaluation/Answer Evaluation/Deep Learning Approach/Models
/Knowledge and Attitude Evaluation/Mindset Evaluation/Data
/Knowledge and Attitude Evaluation/Mindset Evaluation/logs
/Knowledge and Attitude Evaluation/Mindset Evaluation/Models
/Knowledge and Attitude Evaluation/Answer Evaluation/App/flask
/Knowledge and Attitude Evaluation/Answer Evaluation/App/__pycache__
/Knowledge and Attitude Evaluation/Answer Evaluation/App/*.h5
/Knowledge and Attitude Evaluation/Answer Evaluation/App/flask
/App/PythonAPI/PythonAPI
/App/PythonAPI/PythonAPI/__pycache__
/App/PythonAPI/PythonAPI/*.h5
/App/PythonAPI/PythonAPI/flask
/Knowledge and Attitude Evaluation/Mindset Evaluation/*.h5
*.h5
*.png
*.jpg