.menu-item {
	border-radius: 10px;
	height: 100px;
	background-size: cover;
	/* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
	border: 1px solid rgb(204, 204, 204);
}

.menu-item:hover {
	opacity: 0.9;
	color: black;
}

.mi-card {
	background-color: transparent;
	border: none;
}

.card-title {
	font-weight: 700;
	font-size: 1.5rem;
}
