body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	font-family: 'Roboto', sans-serif;;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: #fff;
	overflow-x: hidden;
	transition: all 200ms linear;
}

#root {
	backdrop-filter: opacity(0.2);
	min-height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.btn-black {
	background-color: #0e1c36;
	color: #fff;
	border: 1px solid transparent;
}

.btn-black:disabled {
	background-color: #646464;
	color: #fff;
	border: 1px solid transparent;
}

.btn-black:hover {
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	border: 1px solid black;
}

.btn-gray {
	background-color: #646464;
	color: #fff;
	border: 1px solid transparent;
}

.btn-gray:hover {
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	border: 1px solid black;
}
